#!/usr/bin/rc

test -f db || echo bandit0 #> db

server	= bandit.labs.overthewire.org
port	= 2220

# If arg is empty pick latest
# if arg, then connect to n

~ $#* 0 && { # Go to latest one
 *=`{ awk 'END {print NR-1,$0 }' db }
} || { # This has to do both
 ~ $1 *[~0-9]* && {echo 'arg is not a number'; exit 1}
 *	=($1 `{ arg=$1 awk '
  (NR-1) == ENVIRON["arg"] {print;exit}' db
 })
 ~ $#* 2 || {echo 'You have not yet reached that level';exit 1}
}
user=bandit$1
pass=$$#*

echo $user:$pass'@'$server:$port
echo $pass | xsel -i && echo password copied successfully

ssh -l $user -p $port $server
