#!/usr/bin/env rc

fn use_seq {

 limit=`{expr $1 - 1 }

 a=`{ seq 3 3 $limit }
 b=`{ seq 5 5 $limit }

 # merge list a and b into c if items are not in c
 # basically uniq
 for (* in $a $b){ ~ $c $* || c=($c $*) }
}

fn use_dc {
 use_seq $*
 for (* in $a $b){ ~ $c $* || c=($c $*) } # uniq
 c=$c^' +' # sum all the items in c
 dc -e '0 '^$^c^' p'
}

use_dc 1000 # .110 seconds
